node_modules/
yarn-error.log
.yarn/*
.pnp.*
.DS_Store
packages/Backend/.yarn
packages/Backend/node_modules
packages/SmartContract/.yarn
packages/SmartContract/artifacts
packages/SmartContract/node_modules
packages/SmartContract/yarn.lock
packages/SmartContract/cache
packages/JuliaTokenApp/node_modules
packages/JuliaTokenApp/ios
packages/JuliaTokenApp/android
packages/JuliaTokenApp/package-lock.json
packages/JuliaTokenApp/.yarn
packages/JuliaTokenApp/.bundle
packages/JuliaTokenApp/__tests__